{% extends 'base.html' %}


{% block head %}
    <title>Task Master</title>

{% endblock %}


{% block body %}

    <div class="content">
        <h1 style="text-align: center;">Update Task</h1>

        <div class="form">  
            <form action="/update/{{task.id}}" method="POST" style="padding-top: 10px;">
                <input type="text" name="content" id="content" style="padding-right: 18px;", value="{{task.content}}">
                <input type="submit" value="Update Task" id="" style="padding-left: 16px;padding-right:16px;text-align: center;">
            </form>
        </div>

    </div>

{% endblock %}